<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appoitment</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <header>
      <div class="logo-image-container">
        <img src="../public/logo.svg" alt="Oracle Health" />
      </div>
      <div class="notifications-image-container">
        <img src="../public/notifications-icon.png" alt="notifications" />
      </div>
    </header>
    <div class="main-container">
      <nav>
        <a href="../templates/index.html">
          <img src="../public/appointments-icon.png" alt="appointments" />
        </a>
        <a href="../templates/appoitment.html">
          <img src="../public/visit-icon.png" alt="appointment" />
        </a>
        <a href="../templates/patients.html">
          <img src="../public/patients.png" alt="patients" />
        </a>
        <div>
          <a href="" class="profile-link">
            <img src="../public/user-pfp.svg" alt="profile" />
          </a>
        </div>
      </nav>
      <form class="appointment-form-container">
        <div class="appointments-container">
          <h1 class="main-title">Appointment : Manaf Hujairi</h1>
          <div class="custom-input-container">
            <div>
              <div class="custom-input-field">
                <label for="diagnosis">Diagnosis</label>
                <input type="text" name="diagnosis" id="diagnosis" />
              </div>
              <div class="custom-input-field">
                <label for="prescription">Prescription</label>
                <input type="text" name="prescription" id="prescription" />
              </div>
              <div class="custom-input-field">
                <label for="notes">Notes</label>
                <input type="text" name="notes" id="notes" />
              </div>
            </div>
          </div>
        </div>
        <div class="appointment-buttons-container">
          <button type="submit" class="custom-button">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
